<h2>新規登録（sign up）</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :name ,"ユーザー名"%><br />
    <%= f.text_field :name, autofocus: true  %>
  </div>

  <div class="field">
    <%= f.label :nationality ,"国籍"%><br />
    <%= f.select :nationality, allcontries, class: 'country' %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上で入力してください)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :image, "プロフィール画像" %><br />
    <%= f.file_field :image %>
  </div><br/><br/>
  <input type="file" onchange="previewFile()"><br> <!-- jsのpreviewFile()を呼ぶ -->
  <img src="" height="200" alt="Image preview..."> <!-- プレビューの表示枠を用意 -->

  <div class="actions">
    <%= f.submit "新規登録" %><br />
  </div>
<% end %>

<script>
  function previewFile() {
    var preview = document.querySelector('img');//どこでプレビューするか指定。'img[name="preview"]'などにすればimg複数あっても指定できます。
    var file    = document.querySelector('input[type=file]').files[0];//'input[type=file]'で投稿されたファイル要素の0番目を参照します。input[type=file]にmutipleがなくてもこのコードになります。
    var reader  = new FileReader();

    reader.addEventListener("load", function () {
      preview.src = reader.result;//めちゃめちゃ長い文字列が引き渡されます。ユーザーのファイルパスに紐付かない画像情報だと思います。
    }, false);

    if (file) {
      reader.readAsDataURL(file);//ここでreaderのメソッドに引数としてfileを入れます。ここで、readerのaddEventListenerが発火します。
    }
  }
</script>



<%= render "devise/shared/links" %>
