<li>
  <span class="country"><%= link_to post.country,post_path(post.id) %> (国毎と編集のリンクを別に) </span>
  <span class="images"></span>
  <% if @path.is('top_page#home')%>
    <span class="visited_date"><%= post.visited_date.strftime('%Y年%m月%d日')  %> に訪問 </span>
  <% else%>
    <span class="visited_date"><%= post.visited_date.strftime('%Y年%m月')  %> に訪問 </span>
  <% end%>
  <div id="likes_buttons_<%= post.id %>">
    <%= render "likes/like",post: post%>
  </div>
  <hr>
</li>




