<li>

  <% if post.liked_by?(current_user)%>
      <p><span>いいね解除: </span><%=link_to post.likes.count, post_likes_path(post.id), method: :delete %></p>
  <% else %>
      <p><span>いいね登録: </span><%=link_to post.likes.count, post_likes_path(post.id), method: :post %></p>
  <% end %>
  <p><span>いいね数: </span><%= post.likes.count %></p>

  <span class="country"><%= link_to post.country, edit_post_path(post.id) %></span>
  <span class="images"></span>

  <% if @path.is('top_page#home')%>
    <span class="visited_date"><%= post.visited_date.strftime('%Y年%m月%d日')  %> に訪問 </span>
  <% else%>
    <span class="visited_date"><%= post.visited_date.strftime('%Y年%m月')  %> に訪問 </span>
  <% end%>
</li>




