<% provide(:title, "#{@user.name}") %>
<% breadcrumb :user,@user %>

<div class="container">
  <div class="row margin-vert">
    <div class="col-sm-3 offset-sm-2 central-hori">
      <%= image_tag "#{@user.image}", class:"icon_image" %><br/>
    </div>
    <div class="col-sm-7 user-total central-vert">
      <div class="container">
        <h3><%= @user.name %><br/></h3>
        <span><u><%= @user.nationality %></u> 出身<br/></span>
        <p><%=link_to "フォロー", follows_user_path(@user.id) %><%=@followings%>人 <%=link_to "フォロワー", followers_user_path(@user.id) %><%=@followers%>人</p>
        <% if logged_in? and current_user.id==@user.id %>
          <%= link_to "ユーザー情報を編集する",edit_user_registration_path(params[:id])%>
        <% end %>
        <%= render "follow" ,user: @user%>
      </div>
    </div>
  </div><hr>
  <div class="row">
    <div class="col-4 offset-2">
      <%= pie_chart @totaldata , donut: true , suffix: "ヵ国", id: "total-chart", height: "200px", colors: ["#b01", "#677"]  %>
    </div>
    <div class="col-5">
      <%= pie_chart @continentdata , donut: true , suffix: "ヵ国", id: "continent-chart", height: "200px"  %>
    </div>
  </div><hr>
  <%= render "shared/map",{posts: @posts,latest_post: @latest_post,nationality: @nationality} %><hr>

  <% if not @latest_post.nil? %>
    <div class="row">
      <div class="container">
        <p>最後に訪れた国</p>
        <%= render "users/visited", post: @latest_post unless @latest_post.nil? %>
      </div>
    </div>
    
    <div class="row">
      <div class="container">
        <% if @posts.any? or not @latest_post.present? %>  
          <p>訪れた国</p>
          <% @posts.each do |post|%>
              <%= render "users/visited", post: post %>
          <% end %>
        <% end %>
      </div>
    </div>

  <% else %>
    <p>まだ訪れた国はありません</p>
  <% end %>
  
  <p></p>
</div>