<% provide(:title, "#{@user.name}") %>
<div class="container">
  <div class="row">
    <%= link_to "сЃЏсЃ╝сЃа",root_path %> -> <%= "#{@user.name}" %>
  </div>
  <div class="row user-total">
    <div class="col-sm-6 user-avatar ">
      <%= image_tag "#{@user.image}", class:"icon_image" %><br/>
    </div>
    <div class="col-sm-6 user-info">
      сЃдсЃ╝сѓХсЃ╝тљЇ:<%= @user.name %><br/>
      тЄ║У║Фтю░:<%= @user.nationality %><br/>
      УефтЋЈтЏйТЋ░:<%= @posts.count+1%>/<%=numberofcontries%><br/>
      <p><%=link_to "сЃЋсѓЕсЃГсЃ╝", follows_user_path(@user.id) %> <%=link_to "сЃЋсѓЕсЃГсЃ»сЃ╝", followers_user_path(@user.id) %></p>
      <% if current_user.id==@user.id %>
        <%= link_to "сЃдсЃ╝сѓХсЃ╝ТЃЁта▒сѓњуиежЏєсЂЎсѓІ",edit_user_registration_path(params[:id])%>
      <% end %>
      <% if logged_in?%>
        <div id ="follow-<%= @user.id %>">
          <%= render "follow" ,user: @user%>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <section class="map_went_all">
      <%= render "shared/map" %>
    </section>
  </div>
  <div class="row">
    <section class="last_visited">
    </section>
  </div>
  <div class="row">
    <section class="user_posts">
      <div class="col-md-8">
        <% if @user.posts.any? %>  
          <p>УефсѓїсЂЪтЏй</p>
          <% @posts.each do |post|%>
            <ul>
              <%= render "visited" , post: post %>
            </ul>
          <% end %>
        <% else %>
          <h2>сЂѓсЂфсЂЪсЂїУефсѓїсЂЪтЏйсѓњТіЋуе┐сЂЌсЂдсЂЈсЂасЂЋсЂё</h2>
          <%= link_to "ТіЋуе┐сЂЎсѓІ",new_post_path %>
        <% end %>
      </div>
    </section>
  </div>
  <p>№╝і№╝і№╝і­ЪЇђсЂёсѓЇсѓЊсЂфТЕЪУЃйсЂ«У┐йтіа­ЪЇђ№╝і№╝і№╝і</p>
</div>