<% provide(:title, "#{@user.name}") %>
<% breadcrumb :user,@user %>

<div class="container">
  <div class="row margin-vert">
    <div class="col-sm-3 offset-sm-2 central-hori">
      <%= image_tag "#{@user.image}", class:"icon_image" %><br/>
    </div>
    <div class="col-sm-7 user-total central-vert">
      <div class="container">
        <span><%= @user.name %><br/></span>
        <span><%= @user.nationality %> 出身<br/></span>

        <span><% if @posts.nil?%>
                <%= 1 %>
              <% else %>
                <%= @posts.count+1%>
              <% end %>
                /<%=numberofcontries%> ヵ国訪問<br/></span>

        <p><%=link_to "フォロー", follows_user_path(@user.id) %> <%=link_to "フォロワー", followers_user_path(@user.id) %></p>
        <% if logged_in? and current_user.id==@user.id %>
          <%= link_to "ユーザー情報を編集する",edit_user_registration_path(params[:id])%>
        <% end %>
        <%= render "follow" ,user: @user%>
      </div>
      <%=@EU%><br/><%=@AS%><br/><%=@NA%><br/>
    </div>
  </div>
  <div class="row">
    <div class="container col-10 offset-1"><hr></div>
  </div>
  <%= render "shared/map",{posts: @posts,latest_post: @latest_post,nationality: @nationality} %>
  </div>

  <% if not @latest_post.nil? %>
    <div class="row">
      <div class="container">
        <p>最後に訪れた国</p>
        <%= render "users/visited", post: @latest_post unless @latest_post.nil? %>
      </div>
    </div>
    
    <div class="row">
      <div class="container">
        <% if @posts.any? or @latest_post.present? %>  
          <p>訪れた国</p>
          <% @posts.each do |post|%>
              <%= render "users/visited", post: post %>
          <% end %>
        <% end %>
      </div>
    </div>

  <% else %>
    <p>まだ訪れた国はありません</p>
  <% end %>
  
  <p></p>
</div>