<% provide(:title, "#{@user.name}") %>
<% breadcrumb :user,@user %>

<div class="container">
  <div class="row user-total">
    <div class="col-sm-6 user-avatar ">
      <%= image_tag "#{@user.image}", class:"icon_image" %><br/>
    </div>
    <div class="col-sm-6 user-info">
      ユーザー名:<%= @user.name %><br/>
      出身地:<%= @user.nationality %><br/>
      訪問国数:<%= @posts.count+1%>/<%=numberofcontries%><br/>
      <p><%=link_to "フォロー", follows_user_path(@user.id) %> <%=link_to "フォロワー", followers_user_path(@user.id) %></p>
      <% if logged_in? and current_user.id==@user.id %>
        <%= link_to "ユーザー情報を編集する",edit_user_registration_path(params[:id])%>
      <% end %>
      <% if logged_in?%>
        <div id ="follow-<%= @user.id %>">
          <%= render "follow" ,user: @user%>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <%= render "shared/map_kai",{posts: @posts,latest_post: @latest_post} %>
  </div>

  <div class="row">
    <section class="last_visited">
      <p>最後に訪れた国</p>
      <ul>
        <%= render "visited" , post: @latest_post %>
      </ul>
    </section>
  </div>
  
  <div class="row">
    <section class="user_posts">
      <div class="col-md-8">
        <% if @posts.any? or @latest_post.present? %>  
          <p>訪れた国</p>
          <% @posts.each do |post|%>
            <ul>
              <%= render "visited" , post: post %>
            </ul>
          <% end %>
        <% else %>
          <h2>あなたが訪れた国を投稿してください</h2>
          <%= link_to "投稿する",new_post_path %>
        <% end %>
      </div>
    </section>
  </div>
  <p>＊＊＊🍀いろんな機能の追加🍀＊＊＊</p>
</div>