<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <div class="user_?">
        <%= image_tag "#{@user.image}",size: "100x100", class:"icon_image" %><br/>
        сЃдсЃ╝сѓХсЃ╝тљЇ:<%= @user.name %><br/>
        тЄ║У║Фтю░:<%= @user.nationality %><br/>
        УефтЋЈтЏйТЋ░:<%= @posts.count+1%>/<%=numberofcontries%><br/>

        <%= link_to 'сЃєсѓ╣сЃѕ',posts_index_path	%>
        <% if current_user.id==@user.id %>
          <%= link_to "уиежЏє",edit_user_registration_path(params[:id])%>
        <% end %>

        <p><%=link_to "сЃЋсѓЕсЃГсЃ╝", follows_user_path(@user.id) %> <%=link_to "сЃЋсѓЕсЃГсЃ»сЃ╝", followers_user_path(@user.id) %></p>
        <div id ="follow-<%= @user.id %>"></div>
        <%= render "follow" ,user: @user%>

      </div>
    </section>
  </aside>
    <section class="user_content">
      <section class="map_went_all">
        <%= render "shared/map" %>
      </section>
      <section class="last_visited">
      </section>
      <section class="user_posts">
        <div class="col-md-8">
          <% if @user.posts.any? %>  
            <p>УефсѓїсЂЪтЏй</p>
            <% @posts.each do |post|%>
              <ul>
                <%= render "visited" , post: post %>
              </ul>
            <% end %>

          <% else %>
            <h2>сЂѓсЂфсЂЪсЂїУефсѓїсЂЪтЏйсѓњТіЋуе┐сЂЌсЂдсЂЈсЂасЂЋсЂё</h2>
            <%= link_to "ТіЋуе┐сЂЎсѓІ",new_post_path %>
          <% end %>
        </div>
      </section>
      <p>№╝і№╝і№╝і­ЪЇђсЂёсѓЇсѓЊсЂфТЕЪУЃйсЂ«У┐йтіа­ЪЇђ№╝і№╝і№╝і</p>
    </section>
</div>