<div class="row">
  <style>
    #maps{ height: 600px;
           width:  100%; }
  </style>
  <div id="maps"></div>
  <script src="//maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_MAP_API']%>&callback=initMap&language=ja&libraries=places" async></script>
  <script>
    function initMap() {

      <% if @path.is("users#show") and latest_post.nil? %>
        var mapCenter = {lat: <%=nationality.first.coordinates[0]%>,lng: <%=nationality.first.coordinates[1]%>};
      <% elsif @path.is("users#show") %>
        var mapCenter = {lat: <%=latest_post.latitude%>,lng: <%=latest_post.longitude%>};
      <% elsif @path.is("top_page#home") and posts.any?%>
        var mapCenter = {lat: <%=posts.first.latitude%>,lng: <%=posts.first.longitude%>};
      <% elsif @path.is("posts#show")%>
        var mapCenter = {lat: <%=post.latitude%>,lng: <%=post.longitude%>};
      <% elsif @path.is("top_page#country")%>
        var mapCenter = {lat: <%=results.first.coordinates[0]%>,lng: <%=results.first.coordinates[1]%>};
      <% else%>
        var mapCenter = {lat: 36.204824,lng: 138.252924};
      <% end %>

      var mapArea = document.getElementById('maps');
      var mapOptions = {
        center: mapCenter,
        zoom: 3,
        mapTypeControl: false,
        fullscreenControl: false,
        streetViewControl: false,
        zoomControl: true,
        styles: [
          {
                "elementType": "labels",
                "stylers": [
                {
                    "visibility": "off"
                }
                ]
            },
            {
                "featureType": "administrative",
                "elementType": "geometry",
                "stylers": [
                {
                    "visibility": "off"
                }
                ]
            },
            {
                "featureType": "administrative.country",
                "stylers": [
                {
                    "visibility": "on"
                }
                ]
            },
            {
                "featureType": "administrative.land_parcel",
                "stylers": [
                {
                    "visibility": "off"
                }
                ]
            },
            {
                "featureType": "administrative.locality",
                "stylers": [
                {
                    "visibility": "on"
                }
                ]
            },
            {
                "featureType": "administrative.neighborhood",
                "stylers": [
                {
                    "visibility": "off"
                }
                ]
            },
            {
                "featureType": "poi",
                "stylers": [
                {
                    "visibility": "off"
                }
                ]
            },
            {
                "featureType": "road",
                "stylers": [
                {
                    "visibility": "off"
                }
                ]
            },
            {
                "featureType": "road",
                "elementType": "labels.icon",
                "stylers": [
                {
                    "visibility": "off"
                }
                ]
            },
            {
                "featureType": "transit",
                "stylers": [
                {
                    "visibility": "off"
                }
                ]
            }
        ],
      }
      var map = new google.maps.Map(mapArea, mapOptions);
      <% if @path.is("users#show") or @path.is("top_page#home") and not posts.nil? %>
        <% posts.each do |post|%>
          var newPosition ={lat: <%=post.latitude%>,lng: <%=post.longitude%>}
          var markerOthers = {
            map: map,
            position: newPosition,
            icon: 'https://maps.google.com/mapfiles/ms/micons/red-dot.png',
          };
          var marker = new google.maps.Marker(markerOthers);
        <% end %>
      <% end %>

      var singleMarkerOptions = {
        map: map,
        position: mapCenter,
        icon: 'https://maps.google.com/mapfiles/ms/micons/blue-dot.png',
      };
      var latest_marker = new google.maps.Marker(singleMarkerOptions);

    }
  </script>
</div>