<%= form_for post do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :country ,"国名"%><br />
    <%= f.select :country, allcontries, class: 'country_select' %>
  </div>
  
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content, class: 'content' %>
  </div>

  <div class="field">
    <%= f.label :visited_date ,"訪問日"%><br />
    <%= raw sprintf(f.date_select(
                  :visited_date,
                  use_month_numbers: true,
                  date_separator:    '%s'), '年 ', '月 ') + '日'%>
  </div>

  <div class="field">
    <%= render "post_form_photo",f: f %>
  </div>
  
  <% if @path.is('posts#new')%>
    <%= f.submit "投稿" %>
  <% elsif @path.is('posts#edit')%>
    <%= f.submit "更新" %>
  <% end %>

<% end %>