<% provide(:title, "#{@post.user.name}が訪れた#{@post.country}") %>

<div class="container" style="max-width: 700px;">

  <div class="row">パンくず</div>
  
  <h3 class="text-center"></h3></h3>

  <div class="row">
    <div class = "mx-auto" style="width: 500px;">
      <%= render "shared/user",user: @post.user %>
    </div>
  </div>

  <div class="row">
    <div class = "mx-auto" style="width: 500px;">
    
      <%= image_tag"#{@post.photo}", class: "photo-show"%>
    </div>
  </div>

  <div class="row">
    <div class = "mx-auto" style="width: 500px;">
      <div id="date">
        <%= render "shared/date",post: @post %>
      </div>
      <div id="liked">
        <%= render "shared/liked_part",post: @post %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class = "mx-auto" style="width: 500px;">
      <%= render "shared/content",post: @post %>
    </div>
  </div>

  <div class="row">
    <div class = "mx-auto" style="width: 500px;">
      コメント機能
    </div>
  </div>

  <div class="row">
    <div class = "mx-auto" style="width: 500px;">
      マップ
    </div>
 </div>
  
</div>
