<% provide(:title, "#{@post.user.name}が訪れた#{@post.country}") %>
<% breadcrumb :post,@post %>


<div class="container">  
  <div class="row offset-sm-2 col-sm-8 user-total">
    <div class = "mx-auto" style="width: 500px;">
      <%= render "shared/user",user: @post.user %>
      <% if @post.user==current_user%>
        <div><%= link_to "編集",edit_post_path(params[:id]) %></div>
      <% end %>
    </div>
  </div>

  <div class="row col-sm-6">
    <%= link_to @post.country,"countries/country?name=#{@post.country}"%>
  </div>
  <div class="row col-10 offset-1">
    <div class = "mx-auto">
      <% if @post.photo.url == "default.jpg" %>
        <%= image_tag("https://flagpedia.net/data/flags/ultra/#{@post.country_code.downcase}.png",class: "photo-show")%>
      <% else %>
        <%= image_tag"#{@post.photo}",class: "photo-show"%>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class = "mx-auto" style="width: 600px;">
      <div id="date">
        <%= render "shared/date",post: @post %>
      </div>
      <div id="liked">
        <%= render "shared/liked_part",post: @post %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class = "mx-auto" style="width: 600px;">
      <%= render "shared/content",post: @post %>
    </div>
  </div>

  <div class="row">
    <div class = "mx-auto" style="width: 600px;">
      コメント機能
    </div>
  </div>

  <%= render "shared/map",post: @post %>

  
</div>
