<% provide(:title, "#{@post.user.name}が訪れた#{@post.country}") %>
<% breadcrumb :post,@post %>


<div class="container" style="max-width: 700px;">  
  <div class="row">
    <div class = "mx-auto" style="width: 500px;">
      <%= render "shared/user",user: @post.user %>
    </div>
  </div>

  <% if @post.user==current_user%>
    <div><%= link_to "編集",edit_post_path(params[:id]) %></div>
  <% end %>

  <div class="row">
    <div class = "mx-auto" style="width: 500px;">
    国旗にする
      <%= image_tag"#{@post.photo}", class: "photo-show"%>
    </div>
  </div>

  <div class="row">
    <div class = "mx-auto" style="width: 500px;">
      <div id="date">
        <%= render "shared/date",post: @post %>
      </div>
      <div id="liked">
        <%= render "shared/liked_part",post: @post %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class = "mx-auto" style="width: 500px;">
      <%= render "shared/content",post: @post %>
    </div>
  </div>

  <div class="row">
    <div class = "mx-auto" style="width: 500px;">
      コメント機能
    </div>
  </div>

  <div class="row">
    <div class = "mx-auto" style="width: 500px;">
      <%= render "shared/map_kai",post: @post %>
    </div>
 </div>
  
</div>
