<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | YourTravel</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <div class="container ">
        <ul class="inl_block">
          <p class="header_left col-md-3"><%= link_to "Your Travel",root_path%></p>
          <div class="header_right col-md-auto">
            <li><%= link_to 'テスト', "/test"%></li>
            <li><%= link_to '全てのユーザー', users_path%></li>
            <% if user_signed_in? %>
              <li><%= image_tag "#{current_user.image}", class:"header_user_avatar"%> <%= link_to current_user.name, user_path(current_user) %></li>
              <li><%= link_to '行った国を追加', new_post_path%></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to '新規登録', new_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
          </div>
      </ul>
      </div>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>

</html>