<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= yield(:title) %> | YourTravel</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <div class="container">
        <ul class="inl_block">
          <p class="header_left col-sm-3"><%= link_to "Your Travel",root_path%></p>
          <div class="header_right col-sm-auto">
            <% if user_signed_in? %>
              <li><%= link_to '行った国を追加', new_post_path%></li>
              <li><%= link_to current_user.name, user_path(current_user) %></li>
              <li><%= link_to image_tag("#{current_user.image}", class:"header_user_avatar"), user_path(current_user)%></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to '新規登録', new_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
          </div>
      </ul>
      </div>
    </header>
    <div class="container">
      <div class="breadcrumbs" style="margin:5px;">
        <%= breadcrumbs pretext: "", separator: " &rsaquo; " %>
          <% if @path.is("top_page#home")%>
            <span><%= fa_icon 'home' %>ホーム</span>
          <% end %>
      </div>
      <div class="container text-center">
        <div class="offset-3 col-6">
          <p class="notice"><%= notice %></p>
        </div>
        <p class="alert"><%= alert %></p>
      </div>
      <div class="container content-box">
        <%= yield %>
        <p class="padd-bottom"></p>
      </div>
    </div>

    <footer>
      <p class="copyright text-center">&copy; 2020 YourTravel </p>
    </footer>
  </body>
  

</html>